In [1]:
import pandas as pd

In [2]:
lstm_output = pd.read_csv("sub_pfs.csv")

In [3]:
xgb_output = pd.read_csv("xgb_cleaned.csv")

In [4]:
lstm_output.shape

(214200, 2)

In [12]:
xgb_output.head()

   ID  item_cnt_month
0   0        0.656205
1   1        0.378019
2   2        1.120898
3   3        0.530958
4   4        3.393012

In [6]:
ensemble = (lstm_output + xgb_output) / 2

In [7]:
ensemble.shape

(214200, 2)

In [8]:
ensemble.head()

   ID  item_cnt_month
0   0        0.593612
1   1        0.245181
2   2        0.996977
3   3        0.340980
4   4        1.752678

In [15]:
ensemble = ensemble.set_index('ID')
ensemble.head()

    item_cnt_month
ID
0         0.593612
1         0.245181
2         0.996977
3         0.340980
4         1.752678

In [16]:
ensemble.to_csv(r'ensemble.csv')